{% extends "account/_base.html" %}

{% load i18n static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Project::  Contraseña" %}{% endblock %}
{% block body_extra %} class="loading auth-fluid-pages pb-0" {% endblock %}

{% block content %}

<div class="auth-fluid">
    <!-- Auth fluid right content -->
    <div class="auth-fluid-right text-center">
        <div class="auth-user-testimonial">
            <h2 class="mb-3 text-white">!Proyecto!</h2>
            <p class="lead"><i class="mdi mdi-format-quote-open"></i> Proyecto plantilla para desarrollos independientes <i class="mdi mdi-format-quote-close"></i>
            </p>
            <h5 class="text-white">
                - Project (Jonathan Mateo)
            </h5>
        </div> <!-- end auth-user-testimonial-->
    </div>
    <!-- end Auth fluid right content -->

    <!--Auth fluid left content -->
    <div class="auth-fluid-form-box">
        <div class="align-items-center d-flex h-100">
            <div class="card-body">

                <!-- Logo -->
                <div class="auth-brand text-center text-lg-start">
                    <div class="auth-logo">
                        <a href="index.html" class="logo logo-dark text-center">
                            <span class="logo-lg">
                                <img src="{% static 'images/logo.png' %}" alt="" height="22">
                            </span>
                        </a>
                    </div>
                </div>

                <!-- title-->
                <h4 class="mt-0">Recuprerar Contraseña</h4>
                <p class="text-muted mb-4">¿Ha olvidado su contraseña? Introduzca su correo electrónico y le enviaremos un correo que le permitirá restablecerla.</p>

                <!-- form -->
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" novalidate>
                  {% csrf_token %}
                  {{ form|crispy }}
                  <div class="text-center d-grid">
                    <button class="primaryAction btn color-principal btn-block" type="submit">{% trans "Recuperar" %}</button>
                  </div>
                </form>
                <!-- end form-->

                <!-- Footer-->
                <footer class="footer footer-alt">
                  <p class="text-muted">Regresar a <a href="{% url 'account_login' %}" class="text-muted ms-1"><b>Inicio de sesión</b></a></p>
              </footer>

            </div> <!-- end .card-body -->
        </div> <!-- end .align-items-center.d-flex.h-100-->
    </div>
    <!-- end auth-fluid-form-box-->
</div>
<!-- end auth-fluid-->

{% endblock %}