{% load static i18n %}
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">
    <div class="h-100" >
        <div class="sidebar-content">
            <div class="sidebar-icon-menu h-100 sidebar-color">
                <!-- LOGO -->
                <a href="{% url 'index' %}" class="logo">
                    <span>
                        <img src="{% static 'images/logo-sm.png' %}" alt="" height="28">
                    </span>
                </a>
                <nav class="nav flex-column" id="two-col-sidenav-main">
                    <a class="nav-link" href="#dashboard" title="Dashboard">
                        <i data-feather="home"></i>
                    </a>
                    <a class="nav-link" href="#settings" title="Configuraciones">
                        <i data-feather="settings"></i>
                    </a>
                </nav>
            </div>
            <!--- Sidemenu -->
            <div class="sidebar-main-menu sidebar2-color">
                <div id="two-col-menu" class="h-100">
                    <div class="twocolumn-menu-item d-block" id="dashboard">
                        <div class="title-box">
                            <h5 class="menu-title">Inicio</h5>
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}" >Tablero</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="twocolumn-menu-item" id="settings">
                        <h5 class="menu-title">Configuraciones</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <li class="nav-item">
                                    <a class="nav-link" href="/hola">Contacto</a>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- End Sidebar -->

    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->