{% extends "layouts/_layout_project.html" %}
{% load static i18n %}

{% block title %} Project :: Añadir Usuario{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="mt-3 col-md-4 col-sm-10">
            <div class="card q-shadow-sm border-sm" style="max-height: 28vh;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="mb-3">
                                <label for="projectname" class="form-label">Cliente</label>
                                <input type="text" id="projectname" class="form-control" placeholder="Nombre Cliente" disabled Value="hola">
                            </div>
                            <div class="mb-3">
                                <label for="project-overview" class="form-label">Descripción</label>
                                <textarea class="form-control" id="project-overview" rows="5" placeholder="Definicion del Cliente" disabled>Value</textarea>
                            </div>
                        </div> <!-- end col-->
                    </div>
                </div> <!-- end card-body -->
            </div> <!-- end card-->
        </div>

        <div class="mt-3 col-md-4 col-sm-10">
            <div class="card q-shadow-sm border-sm">
                <div class="card-body">
                    <h4 class="header-title mb-2">Usuarios Asignados</h4>
                
                    <ul class="sortable-list tasklist list-unstyled" id="upcoming">
                        <li id="task1">
                            <span class="badge bg-soft-primary text-primary float-end">Product Owner</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Jonathan Mateo</a></h5>
                            <p></p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                </div>
                            </div>
                        </li>
                        <li id="task1">
                            <span class="badge bg-soft-success text-success float-end">Cliente</span>
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Jonathan Mateo</a></h5>
                            <p></p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                </div>
                            </div>
                        </li>  
                    </ul>
                </div>
            </div>
        </div> <!-- end card-->

        <div class="mt-3 col-md-4 col-sm-10">
            <div class="card q-shadow-sm border-sm">

                <div class="card-body">
                    <h4 class="header-title mb-2">Proyectos Existentes</h4>
                
                    <ul class="sortable-list tasklist list-unstyled" id="upcoming">
                        <li id="task1">
                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Proyecto 1</a></h5>
                            <p></p>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col">
                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                </div>
                            </div>
                        </li>    
                    </ul>
                </div>
            </div>
        </div> <!-- end card-->
    </div>
    <!-- end row-->
</div>

{% endblock %}

{% block extra_javascript %}

{% endblock%}

