{% extends "layouts/_layout_project.html" %}
{% load static i18n %}

{% block title %} Project :: Index{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            
            <div class="card q-shadow-sm" style="min-height: 60vh;">
                <div class="card-body">

                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            <a href="{% url 'user:create' %}"  title="Crear Usuario">
                                <h2 class="mb-4"> Usuarios <i class="fe-plus me-1"></i></h2>
                            </a>
                        </div>
                    </div>
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>username</th>
                                <th>email</th>
                                <th>is_active</th>
                            </tr>
                        </thead>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
</div>
{% endblock %}



{% block extra_javascript %}
<script src="{% static 'js/pages/dataTables.init.js' %}"></script>
<script>
    //Url de la peticion  Ajax
    var path = "{% url 'user:get_list' %}";

    // Definir las columnas del datatable en el ajax
    var columnas = [
        { data: 'id' },
        { data: 'username' },
        { data: 'email' },
        { data: 'is_active' },
    ];

    //Pintar el datatable
    document.addEventListener('DOMContentLoaded', async function () {
        loadTableData(path, columnas);
    });
</script>
{% endblock%}

