{% extends "layouts/_layout_project.html" %}
{% load static i18n %}

{% block title %} Project :: Index{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            
            <div class="card q-shadow-sm" style="min-height: 60vh;">
                <div class="card-body">

                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            <a href="{% url 'user:create' %}"  title="Crear Usuario">
                                <h2 class="mb-4"> Usuarios <i class="fe-plus me-1"></i></h2>
                            </a>
                        </div>
                    </div>
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Proyectos</th>
                                <th>Usuario</th>
                                <th>Horas de Soporte</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    
                    
                        <tbody>
                            <tr>
                                <td><a href="">Tiger Nixon</a> </td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu" style="">
                                            <a class="dropdown-item" href="{% url 'user:details' %}">Ver</a>
                                            <a class="dropdown-item" href="{% url 'user:edit' %}">Editar</a>
                                            <a class="dropdown-item" href="#">Eliminar</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="">Tiger Nixon</a> </td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu" style="">
                                            <a class="dropdown-item" href="#">Ver</a>
                                            <a class="dropdown-item" href="#">Editar</a>
                                            <a class="dropdown-item" href="#">Eliminar</a>
                                            <a class="dropdown-item" href="#">Añadir Usuario Cliente</a>
                                            <a class="dropdown-item" href="#">Añadir Usuario Product Owner</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="">Tiger Nixon</a> </td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>
                                    <div class="dropdown">
                                        <a href="#" class="dropdown-toggle card-drop arrow-none" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-horizontal m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu" style="">
                                            <a class="dropdown-item" href="#">Ver</a>
                                            <a class="dropdown-item" href="#">Editar</a>
                                            <a class="dropdown-item" href="#">Eliminar</a>
                                            <a class="dropdown-item" href="#">Añadir Miembro</a>
                                            <a class="dropdown-item" href="#">Añadir Product Owner</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->

    



    




</div>

{% endblock %}



{% block extra_javascript %}

{% endblock%}

