{% extends "_base.html" %}
{% load static %}

{% block body_extra %}
    class="loading" data-layout-mode="two-column" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": false}'
{% endblock %}

{% block page_content %}
<!-- Begin page -->
<div id="wrapper" class="q-bg">

    <!-- Topbar -->
    {% block topbar %}
        {% include 'partials/topbar.html' %}
    {% endblock %}

    <!-- Sidebar -->
    {% block sidebar %}
        {% include 'partials/sidebar.html' %}
    {% endblock %}

    <div class="content-page content-color">
        <div class="content" id="total_page">

            {% include 'partials/messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- Footer -->
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
</div>
{% endblock %}

