<!DOCTYPE html>
{% load static i18n %}
{% load pwa %}
<html lang="en" class="content-color">

    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Project{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {% block meta %}{% endblock meta %}

        <!-- App favicon -->
        <link rel="icon" href="{% static 'icons/favicon.ico' %}">

        <!--Data Tables-->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'libs/datatables.net-select-bs4/css//select.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
        
        <!-- App css -->
        <link href="{% static 'css/config/saas/bootstrap.css' %}" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
        <link href="{% static 'css/config/saas/app.css' %}" rel="stylesheet" type="text/css" id="app-default-stylesheet" />
        <link href="{% static 'css/config/saas/app-dark.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />
        <link href="{% static 'css/main/styles.css' %}" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

        <!-- icons -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />

        <!--Select 2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

        <!-- Google Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round">
        
        <!-- Google Fonts  -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Sofia&display=swap" rel="stylesheet">

        <!-- Toastr -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        {% progressive_web_app_meta %}
    </head>

    <body {% block body_extra %}{% endblock %}>
        

        {% block page_content %}
        {% endblock %}
        

        {% block javascript %}
        <!-- Vendor js -->
        <script src="{% static 'js/vendor.min.js' %}"></script>

        <!-- App js-->
        <script src="{% static 'js/app.min.js' %}"></script>

        <!--Jquery-->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>

        <!--Select 2 -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!--Notificaciones-->
        <script src="{% static 'js/personalized/get_notification.js' %}"></script>
        <script src="{% static 'js/personalized/press_button.js' %}"></script>
        <script src="{% static 'js/personalized/custom_checkbox.js' %}"></script>
        
        <!-- third party js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-select/js/dataTables.select.min.js' %}"></script>
        
        <!-- Generales -->
        <script src="{% static 'js/personalized/get_cookie.js' %}"></script>
        <script src="{% static 'js/personalized/get_datatables.js' %}"></script>
        <script>$('[data-toggle="select2"]').select2();</script>
        <script>
            // Inicializar select2 en todos los elementos con la clase 'custom-select2'
            $(document).ready(function() {
                $('.custom-select2').select2({
                    width: '100%',
                    placeholder: 'Selecciona una opción',
                    allowClear: true
                });
            });
        </script>

        
        {% endblock javascript %}


        {% block extra_javascript %}
        {% endblock %}
    </body>
</html>