<!-- MODAL DE ELIMINAR GRUPO -->
<div id="ModalEliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="ModalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Grupo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar el grupo <strong><span id="modalEliminarNombre"></span></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger press-button" id="modalConfirmDelete" onclick="confirmDelete()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
