<!-- Info Grupo -->
<div id="ModalVer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles del Grupo: <span id="modalNombre"></span></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="basic-form">
                    <div class="card">
                        <div class="card-body pb-0">
                            <h4 class="header-title mb-3">Usuarios del Grupo</h4>

                            <div class="inbox-widget" id="modalUsuarios" style="max-height: 400px; overflow-y: auto;">
                                <!-- Usuarios se insertarán aquí -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
