{% extends "layouts/_layout_project.html" %}
{% load static i18n %}

{% block title %} Project :: Categorias{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <div class="card q-shadow-sm" style="min-height: 60vh;">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-md-8">
                            {% comment %} <a href="{% url 'category:create' %}" title="Crear Categoria"> {% endcomment %}
                                <a href="#" title="Crear Categoria">
                                <h2 class="mb-4">Categorias<i class="fe-plus me-1"></i></h2>
                            </a>
                            {% comment %} <a href="#" title="Crear Categoria">
                                <h2 class="mb-4">Categorias<i class="fe-plus me-1"></i></h2>
                            </a> {% endcomment %}
                        </div>
                    </div>
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th style="width: 100px !important;">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "modals/info_category.html" %}
{% include "modals/delete_category.html" %}
{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'js/app/category.js' %}"></script>
<script>
    var url_get_categories =  "{% url 'category:get_categories' %}";
    var url_get_category =    "{% url 'category:get_category' %}";
    var url_delete_category = "{% url 'category:delete' %}";
    
    var columnas = [
                { data: 'id' },
                { data: 'name' },
                {
                    data: 'description',
                    render: function(data, type, row) {
                        if (data.length > 15) {
                            return '<span title="' + data + '">' + data.substr(0, 20) + '...</span>';
                        } else {
                            return '<span title="' + data + '">' + data + '</span>';
                        }
                    }
                },
                { data: 'id', render: function (data, type, row) { return renderOpciones(row); } }
            ];

    // DATATABLE
    document.addEventListener('DOMContentLoaded', function () {
        loadTableData(url_get_categories, columnas);
    });
</script>
{% endblock extra_javascript %}